/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/

/* fONTS FROM aPPLE */
    @font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}



::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
  color:0d9b7f;
  text-decoration: none;
 }

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
   font-family: -apple-system, BlinkMacSystemFont,San Francisco, sans-serif;

    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../assets/img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}


.cat {position: fixed; display:none; top:50%; left:10px; margin-top:-55px;}

@media screen and (max-width: 1145px) {
.cat {opacity:0;}
}


@media screen and (max-width: 990px) {
body, #ps hr, #ps h3 {width:100%}
#ps h3 {display:block; padding: 5px 0; border:none; text-align:center}
section {display:block; width:100% !important; margin: 10px 0 !important; padding: 10px 0 !important}
#fb, .fb, footer div:nth-of-type(1), footer p:last-child {padding: 10px !important;}
ins.adsbygoogle {display:none;}
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Image Grid
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.col {
    float: left
}
.col-row {
    margin-bottom: 60px
}
.col-row:last-child {
    margin-bottom: 0
}
.two-col {
    padding-left: 60px
}
.two-col .col {
    width: 540px
}
.col-1-2 {
    margin-left: -60px;
    margin-right: 60px;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Figures
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
figure {
    margin: 0;
    position: relative;
}
figure img {
    display: block;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
}
figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
}
figure h3 {
    color: #0d9b7f;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}
figure span {
    color: #333333;
    display: block;
    line-height: 1.2;
}
figure a.close-caption {
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #e8e8e8;
}
figure a.close-caption.hidden {
    display: none
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Effect on Hover
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#effect-3 a.close-caption {
    bottom: 10px;
    right: 10px;
}
#effect-3 figure {
    background-color: #e8e8e8
}
#effect-3 figure figcaption {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
}
#effect-3 figure img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.no-touch #effect-3 figure:hover img,
#effect-3 figure.hover img {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 1200px) { 
    .col {
        float: none
    }
    .two-col {
        padding-left: 0
    }
    .two-col .col {
        margin-bottom: 60px
    }
    .two-col .col:last-child {
        margin-bottom: 0
    }
    .col-1-2 {
        margin: 0 auto
    }
    .col-2-2 {
        margin: 0 auto
    }
}
@media all and (max-width: 660px) { 
    .col-row {
        margin-bottom: 30px
    }
    .two-col .col {
        max-width: 540px;
        width: 100%;
        margin-bottom: 30px;
    }
}
@media all and (max-width: 615px) { 
    figure h3 {
        font-size: 18px
    }
    figure span {
        font-size: 12px
    }
}
@media all and (max-width: 480px) { 
    #effect-2 figure figcaption h3 {
        margin-top: 100px
    }
}
@media all and (max-width: 360px) { 
    #effect-2 figure figcaption h3 {
        margin-top: 80px
    }
}

